%bottom-notification {
  position: fixed;
  top: 100%;
  left: 0;
  right: 0;
  z-index: z-index(site, notification);
  padding: 20px 20px 40px;
  background-color: color(light-green);
  color: color(black);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(0%);
  visibility: hidden;
  transition: transform 200ms ease-out, visibility 200ms ease-out;

  &[data-open="true"] {
    transform: translateY(-100%);
    visibility: visible;
    transition: transform 200ms ease-out, visibility 0ms ease-out;
  }

  &__container {
    max-width: 820px;
    width: 100%;

    @include minWidth(tablet) {
      display: grid;
      grid-column-gap: var(--gutter);
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
    }

    @include minWidth(desktop) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__text-container {
    @include minWidth(tablet) {
      grid-column-end: span 2;
    }

    @include minWidth(desktop) {
      grid-column-end: span 3;
    }
  }

  &__label {
    @include fontSize(18px, 22px);
  }

  &__text {
    @include fontSize(14px, 18px);
    margin-top: 10px;
  }
}
