.markdown {
  max-width: 40rem;

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4, h5, h6 {
    font-size: 1.25rem;
  }

  h1, h2, h3, h4, h5, h6, p, ol, ul, pre {
    margin-bottom: 1.5rem;
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  ul, ol {
    margin-left: 1em;

    p {
      margin-bottom: 0;
    }
  }
}
