.licenses-page {
  &__nav {
    grid-column: 1 / span 1;

    &__title {
      margin-top: 0;
      margin-bottom: 1.5em;

      a {
        @include resetLink();
      }
    }

    &__list {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    &__link {
      @include resetLink();
      display: block;

      &:hover {
        color: var(--link_hover_color);
      }

      &.active {
        color: var(--link_hover_color);
      }
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    grid-column: 2 / span 1;
    max-width: 40em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }

  &__license {
    &__link {
      @include resetLink();
      display: block;
      color: inherit;

      &:hover {
        color: var(--link_hover_color);
      }
    }

    &__thumbnail {
      display: block;
      width: 100%;
      height: auto;
      aspect-ratio: 1275 / 1650;
      border: 1px solid var(--horizontal_rule_color);
    }

    &__name {
      display: block;
      margin-top: 0.75em;
    }
  }
}
