$colors: (
  white: #fff,
  light-grey: #fafafa,
  medium-grey: #e0e0e0,
  grey: #ccc,
  grey-text: #999,
  dark-grey: #666,
  black: #000,

  gray2: #222222,
  gray4e: #4E4E4E,
  gray4: #444444,
  gray6: #666666,
  gray7: #777777,
  gray9: #999999,
  graya8: #A8A8A8,
  graya: #AAAAAA,
  grayc: #CCCCCC,
  graye: #EEEEEE,

  blue: #3943FF,
  dark-blue: #312D79,
  green: #00B974,
  red: #FF4451,
  yellow: #FFE800,
  light-green: #CDFFD1,
);
